.service {
  $content-margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  flex-direction: column;

  .image img {
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
    width: var(--container-width);
    height: 65vh;
  }

  .text-content {
    >* {
      pointer-events: none;
      margin-top: $content-margin;
      font-weight: 400;
    }

    max-width: 75%;

    h3 {
      color: var(--themer-heading);
      margin-top: calc($content-margin * 5);
      margin-left: -16px;
      font-size: 28px;
    }

    p {
      color: var(--themer-content);
      letter-spacing: 1px;
      font-size: 24px;
    }

  }

}

.service-title .container {
  align-items: flex-start;

  * {
    margin-bottom: 18px;
  }
}

// SERVICE GALLARY
.service-gallary-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  .gallary {
    >div {
      margin: var(--element-margin);
    }

    max-width: 50%;

    img {
      width: calc(100%/2);
      height: calc(60vh/2);
    }
  }
}

.service-gallary-container.mirror {
  justify-content: flex-end;
}

@media only screen and (max-width:480px) {
  .service {
    $content-margin: 10px;

    .image img {
      width: var(--container-width-mobile);
      height: var(--container-width-mobile);
    }

    .text-content {
      $font-size: 21px;
      max-width: 100%;

      h3 {
        margin-top: calc($content-margin * 5);
        margin-left: 0px;
        font-size: $font-size;
        font-weight: 400;

      }

      p {
        margin-top: calc($content-margin*1.5);
        font-size: $font-size;
        letter-spacing: -0.07px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

    }
  }

  .service-title .container {
    align-items: flex-start;

    * {
      margin-bottom: 15px;
    }
  }
}