.service-container {
    display: flex;
    flex-direction: row;

    .service-card {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        * {
            margin-top: var(--element-margin);
            text-align: left;
            color: var(--color-font-heading);
        }

        .title {
            h2 {
                text-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
                ;
                line-height: 8rem;
                height: fit-content;
                font-size: 8rem;
                font-weight: 900;
                letter-spacing: 0px;
                font-family: "Coign", sans-serif;
                text-transform: capitalize;
            }
        }

        p {
            font-size: 2rem;
            font-weight: 700;
            word-spacing: 3px;
        }

        .process {
            p {
                font-weight: 500;
            }

            li {
                font-size: 1.2rem;
                font-weight: 300;
                word-spacing: 3px;
            }
        }

    }

    .image-services {
        flex: 1;
        padding-top: 0;
        display: flex;
        justify-content: flex-end;

        img {
            box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
            width: 30vw;
            height: 30vh;
        }
    }
}

.service-container.right {
    flex-direction: row-reverse;

    * {

        text-align: right;
    }
}

.background-image {
    // filter: blur(5px);
    // img {
    //     height: 100vh;
    //     width: 100vw;
    // }
}