@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

:root {
  --text-width: 60%;
  --content-margin: 16px;

  --font-color-heading: #E3E3E3; //#111111; //, ;
  --font-color-content: #5E5E5E;
  --button-border: #525252 ; //,#525252 
}

* {
  text-align: left;
}

.service {

  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 20%;

  flex-direction: column;

  .image {
    img {
      box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
      width: 65vw;
      height: 60vh;
    }
  }

  .content {
    >* {
      margin-top: var(--content-margin);
      font-weight: 400;
      font-size: 28px;
      // line-height: 37px;
    }

    max-width: var(--text-width);

    h2 {
      margin-left: -24px;
      color: var(--font-color-heading);
    }

    p {
      color: var(--font-color-content);
      letter-spacing: 1px;
    }

    button {
      padding: 8px 16px;
      font-size: 16px;
      border: 1px solid var(--button-border);
      color: var(--font-color-heading);
      text-transform: uppercase;
      background-color: transparent;
    }
  }

  .content :first-child {
    margin-top: calc(var(--content-margin) * 5);
  }
}



// SERVICE GALLARY
.service-gallary-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  .gallary {
    >div {
      margin: var(--element-margin);
    }

    max-width: 50%;

    img {
      width: calc(100%/2);
      height: calc(60vh/2);
    }
  }
}

.service-gallary-container.mirror {
  justify-content: flex-end;
}

// EXTRA
.extra {
  * {
    margin: var(--element-margin);
  }

  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .content {
    * {
      color: #fff;
    }

    h2 {
      text-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
      line-height: 7rem;
      height: fit-content;
      font-size: 7rem;
      font-weight: 900;
      letter-spacing: 0px;
      font-family: "Coign", sans-serif;
      text-transform: uppercase;
    }

    p {
      font-size: 2rem;
      font-weight: 700;
      word-spacing: 3px;
    }
  }

  .gallary * {
    margin: 16px;
  }

  img {
    width: 35%;
    height: 40%;
  }
}