.range-slider {
	* {
		user-select: none;
		width: 100%;
	}

	position: relative;
}

.input {
	top: 50%;
	transform: translateY(-50%);
	-webkit-appearance: none;
	appearance: none;
	height: 4px;
	opacity: 0;
	margin: 0;
}

.input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 100px;
	height: 100px;
	cursor: pointer;
	border-radius: 50%;
	opacity: 0;
}

.input::-moz-range-thumb {
	width: 14vmin;
	// height: 14vmin;
	cursor: pointer;
	border-radius: 50%;
	opacity: 0;
}

.thumb {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: #303030;
	z-index: -100;
}


.slider-circle {
	height: 38px;
	width: 38px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 3px solid #fff;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 12px rgba(51, 51, 51, .5);
	-moz-box-shadow: 0 0 12px rgba(51, 51, 51, .5);
	box-shadow: 0 0 12px rgba(51, 51, 51, .5);
	cursor: pointer;

	.arrow-left {
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-right: 8px solid #fff;

	}

	.arrow-right {
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 8px solid #fff;
	}
}