.service-landing {
    .container {
        align-items: flex-start;

        >h2, >p {
            margin-bottom: 60px;
        }
        >h5{
            margin-bottom: 24px;
        }
        >div{
            
        margin-bottom: 50px;
        }
    }
    h5{
        color: var(--themer-accent);
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    
    .service-card {
        max-width: calc(100%/2 - 5%);
        min-width: calc(100%/2 - 5%);
        margin-bottom: 30px;
        text-align: center;

        * {
            transition: all 0.7s;
        }

        h2 {
            width: 100%;
            color: var(--themer-heading);
            font-size: 28px;
            font-weight: 400;
            white-space: nowrap;
            letter-spacing: -0.09px;
            text-overflow: ellipsis;

        }

        p {
            font-size: 9px;
            letter-spacing: 2px;
            line-height: 16px;
            color: var(--themer-content);
            // text-transform: uppercase;
        }
    }

    .service-card:hover {
        p {

            color: var(--themer-accent);
        }
    }
}

@media only screen and (max-width:480px) {
    .service-landing {
        .container {
            align-items: flex-start;

            * {
                margin-bottom: 15px;
            }
        }

        .service-card {
            border-bottom: 1px solid var(--themer-content);
            max-width: 100%;
            min-width: 100%;
        }
    }
}