.service-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .banner {
        object-fit: cover;
        width: 100%;
        height: 500px;
    }

    .container {
        >* {
            // align-self: flex-start;
            text-align: left;
        }

        .section {
            align-self: center;
            width: 80%;
            margin: 15% 0;

            h3 {
                font-size: 44px;
                color: var(--themer-heading);
                margin-bottom: 28px;
            }

        }

        .content-hp {}

        .process {
            >* {
                margin-bottom: 28px;
            }

            .process-items {
                text-transform: uppercase;
                margin-bottom: 15px;
                width: 30%;
                color: var(--themer-content);
            }

            p {
                font-size: 44px;
            }
        }

        .images {
            img {
                height: 400px;
                width: 800px;
            }
            margin-bottom: 20%;
        }
        .image{
            padding-top: 20%;
            padding-bottom: 20%;
            img{
                height: 400px;
                width: 600px;
            }
        }
    }
}