$font-size: 18px;

.navbar {
    background-color: var(--themer-background);

    * {
        font-size: $font-size;
    }

    padding:75px 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    .nav-logo {
        color: var(--themer-heading);
        flex: 1;

        h2 {
            font-weight: 800;
            letter-spacing: 1px;

            span {
                color: rgb(134, 124, 124);
                font-weight: 100;

            }
        }
    }

    .nav-items {
        color: var(--themer-content);
        flex: 4;
        display: flex;
        justify-content: flex-end;
        span {
            display: flex;
            margin-left: 50px;
            letter-spacing: -0.06px;
            line-height: 18.24px;
            font-weight: 400;
            font-size: 18px;
            transition: all 0.4s;
            color: var(--themer-content);
        }

        span:hover {
            color: var(--themer-heading);
        }
    }

}

@media only screen and (max-width:480px) {
    .navbar {
        display: none;
    }
}