.details-section {
    >* {
        margin-bottom: 28px;
    }
    align-self: center;
    width: 75%;
    margin: 15% 0;

    h2{
        font-size: 44px;
    }
    p {
        font-size: 28px;
    }

    .items {
        text-transform: uppercase;
        margin-bottom: 15px;
        width: 30%;
        color: var(--themer-content);
        // padding-bottom: 24px;
        span{
            font-size: 9px;
        }
        // border-bottom: 1px solid #dcdcdc;
    }

}