.details-section {
    >* {
        margin-bottom: 28px;
    }
    align-self: center;
    width: 80%;
    margin: 15% 0;

    p {
        font-size: 44px;
    }

    .items {
        text-transform: uppercase;
        margin-bottom: 15px;
        width: 30%;
        color: var(--themer-content);
    }

}