:root {
    --font-color-background-text: #ff4300;
    --font-color-foreground-text: #0c0c15;

}

.about {
    p {
        max-width: 40%;
        margin-bottom: -50px;
        margin-top: 10%;
        margin-left: 20%;
        padding: 8px;
        backdrop-filter: blur(2px);
        text-align: left;

    }
}

.text-banner {
    margin-bottom: 10%;
    position: relative;

    .background-text {
        display: flex;
        position: absolute;
        z-index: -1;
        display: flex;
        flex-direction: column;

        .text-row {
            display: flex;

            h2 {
                text-transform: uppercase;
                color: var(--font-color-background-text);
                margin: 0;
                padding: 0;
                font-family: poppins, sans-serif;
                font-size: 26rem;
                font-weight: 900;
                line-height: 0.75em;
            }
        }
    }

    .foreground-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;

        h3 {
            align-self: flex-end;
            text-align: center;
            width: 50%;
            text-align: left;
            text-transform: uppercase;
            color: var(--font-color-foreground-text);
            font-family: poppins, sans-serif;
            font-size: 5rem;
            font-weight: 700;
            line-height: 1em;
        }
    }

}