:root {
    --rotate-degree:-6deg;
}

.image-gallary {
    overflow-x:auto;
    position: relative;
    margin-top: 40%;
    margin-bottom: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotate(var(--rotate-degree));
    transform-origin: center;
    -webkit-transform:  rotate(var(--rotate-degree));
    -webkit-transform-origin: center;
    .row {
        width: max-content;
        img {
            margin: calc(var(--element-margin)/2) var(--element-margin) ;
            width: 600px;
            height: 400px;
        }
    }
}