.content{
    display: flex;
    flex-direction: column;
    >img {
        margin-top: 20%;
        width: 500px;
        height: 300px;
    }
    .gallary{
        display: flex;
        flex-wrap: wrap;
        img {
            margin: var(--element-margin);
            height: 100px;
            width: 130px;
        }
    }
}