.logo {
    font-size: 24px;
    * {
        // font-size: 2em;
        font-family: 'poppins', sans-serif;
        color: #fff;
    }

    padding-left: 0;
    padding-right: 0;
    width: min-content;

    h2 {
        font-size:2em;
        font-weight: 900;
        letter-spacing: 5px;
        margin-bottom: 0;
    }

    span {
        letter-spacing: normal;
        font-weight: 100;
    }

    h3 {
        text-align: right;
        font-size: 0.5em;
        font-weight: 200;
    }
}

.logo {



    
}