.content {
    display: flex;
    justify-content: center;
    align-items: center;

    .spacer {
        margin-bottom: 40%;
    }

    img {
        margin-bottom: 40%;
        width: 500px;
        height: 300px;
    }

    $desktop-width: 75%;

    .about-heading {
        width: $desktop-width;
        margin-bottom: 24px;
        margin-left: -24px;
        align-self: center;
        color: #5E5E5E;
        font-weight: 500;
    }

    .about-paragraph {
        max-width: $desktop-width;
        text-align: left;
        font-size: 28px !important;
        color: var(--themer-content);
        margin-bottom: 36px;
    }
}

@media only screen and (max-width:480px) {
    .content {
        img {
            margin-top: 60%;
            margin-bottom: 80%;
            width: var(--container-width-mobile);
            height: min-content;
        }

        .about-heading {
            margin-left: 0;
            width: 100%;
            text-align: left;
            margin-bottom: 24px;
        }

        .about-paragraph {
            max-width: 100%;
            text-align: left;
            font-size: 18px !important;
        }
    }
}