$panel-width: 400px;
$panel-height: 50px;

.floating-nav {
    z-index: 2;
    * {
        user-select: none;
        text-align: center;
    }

    position: fixed;
    bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 30px;
    left: calc(50% - ($panel-width/2));
    background-color: #fdfdfdfd;
    border: 0.5px solid #d6d6d6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;

    >* {
        margin: calc(var(--element-margin));
        transition: all 0.5s;
    }

    .nav-logo {
        margin-right: 24px;
        img {
            height: calc($panel-height - 18px);
        }
    }

    span {
        padding: 8px;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #828282;
    }

    span:hover {
        color: #000;
    }

    span.active {
        background-color: #272727;
        color: #fff;
    }
}

.floating-nav.hidden {
    margin-bottom: 60px;
    // display: none;
    transform: translateY(500px);
}
