:root{
    --panel-width:450px;
    --panel-height:50px;
    --panel-background-color:#4747473f;
    --panel-border-color:#47474778;
    --panel-button-background-color:rgb(22, 22, 22);
    --panel-button-text-color :#E3E3E3;
}
.floating-nav{
    z-index: 2;
    backdrop-filter: blur(10px);
    *{
        text-align: center;
    }
    width: var(--panel-width);
    height: 50px;
    margin-bottom: 60px;
    position: fixed;
    left: calc(50% - (var(--panel-width)/2));
    bottom: 0;
    background-color: var(--panel-background-color);
    border: 1px solid  var(--panel-border-color); 
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    > *{
        // padding: var(--element-margin) 16px;
    }
    >span{
        border-radius: 15px;
        // background-color: var(--panel-button-background-color);
        color: var(--panel-button-text-color);
        transition: ease-in-out 0.3s;
        font-size: 12px;
        font-weight: 400;
        color: var(--font-color-heading);
        text-transform: uppercase;
    }
    >span:active{
        transform: scale(0.9);
    }
    >span:hover{
        transform: scale(0.9);
    }
    .logo{
        *{
            margin: 0;
        }
        width: min-content;
        color: var(--font-color-heading);
        justify-self: center;
    }
}