$panel-height: 60px;
$panel-width: 93vw;
$nav-spacing: 30px;

.floating-nav {
    display: none;
}

@media only screen and (max-width:480px) {
    .floating-nav {
        z-index: 2;
        position: fixed;
        top: $nav-spacing;
        left: auto;
        right: calc(50% - ($panel-width/2));
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $panel-width;
        height: $panel-height;
        background-color: var(--themer-foreground);
        transition: all 0.5s;
        border-radius: 50px;

        .nav-item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            margin: 24px;

            img {
                height: inherit;
                width: inherit;
            }
            span {
                color: #E3E3E3;
            }
        }

    }

    .shrink {
        width: $panel-height;
        transform: translateY(0);
        right: $nav-spacing;
        left: auto;
        justify-content: center;
        align-items: center;

        .logo,.page-name{
            display: none;
        }
    }

    .expand {
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        height: 100vh;
        margin: 0;
        left: auto;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0;
    }
}