.home {
  * {
    user-select: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .banner {
    img {
      width: 93vw;
      height: 100vh;
    }
  }

  .text-banner {
    margin-bottom: 100px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 15%;

    * {
      text-align: left !important;
    }

    h2 {
      color: var(--themer-content);
      width: 100%;
      font-size: 44px;
      line-height: 54px;
      letter-spacing: -0.14px;
      font-weight: 400;
    }
  }
  .text-banner :first-child{
    color: var(--themer-heading);
  }
}

@media only screen and (max-width:480px) {
  .home {
    padding-top: 50% !important;

    .banner {
      img {
        width: 100vw;
        height: 40vh;
      }
    }

    .text-banner {
      margin-top: 0;
      h2 {
        font-weight: 500;
        font-size: 25px;
        letter-spacing: -0.08px;
        line-height: 32px;
      }
    }
  }
}