@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.home {
  * {
    user-select: none;
    font-family: 'poppins';
    color: var(--color-font-home);
  }


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .back-text-marquee {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
    overflow-x: hidden;
    z-index: -2;

    h1 {
      text-transform: uppercase;
      // font-size: 10rem;
      font-weight: 900;
      animation: slide-left 500s linear infinite;
    }
  }

  .banner {
    img {
      width: 93vw;
      height: 100vh;
    }
  }

  .service-card {
    align-self: flex-start;
    overflow: hidden;

    * {
      font-size: 18px;
      font-weight: 200;
      color: var(--color-font-home);
    }

    .image-container {
      display: flex;

      .image-wrapper {
        * {
          font-weight: 200;
          margin: var(--element-margin);
        }

        img {
          width: 86px;
          height: 86px;
          transition: all ease-in 0.3s;
        }

        img:hover {
          -webkit-transform: scale(1.1);
          transform: rotateX(40deg);
          transform: scale(0.9);
        }

        p {
          font-size: 14px;
          font-weight: 300;
          text-align: left;
          margin-top: 0;
        }
      }
    }

    h4 {
      margin: var(--element-margin);
      text-align: left;
    }

  }


  .subtitle {
    * {
      letter-spacing: normal;
      margin-right: 7px;
      font-size: 1.2rem;
      line-height: 1.2;
      font-weight: 100;
    }

    span {
      letter-spacing: normal;
      font-weight: 300;
    }

    display: flex;
  }


}

.home.page {
  font-family: 'PP migra';
  z-index: 1;
}