$font-size: 18px;

.navbar {
    background-color: var(--themer-background);

    * {
        color: var(--themer-heading);
        font-size: $font-size;
    }
    padding:75px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    .nav-logo {
        flex: 1;
        h2 {
            font-weight: 800;
            letter-spacing: 1px;

            span {
                color: rgb(134, 124, 124);
                font-weight: 100;

            }
        }
    }
    .nav-items{
        flex: 4;
        display: flex;
        justify-content: flex-end;
        >*{
            margin-left: 50px;
            
        }
        span{
            letter-spacing: -0.06px;
            line-height: 18.24px;
            font-weight: 400;
            font-size: 18px;
        }
    }

}

@media only screen and (max-width:480px) {
    .navbar {
        display: none;
    }
}