.button {
    padding: 12px 24px;
    font-size: 11px !important;
    font-weight: 600 !important;
    border: 1px solid var(--themer-button-border);
    color: var(--themer-button);
    text-transform: uppercase;
    background-color: transparent;
    letter-spacing: 3px;
    transition: all 0.7s;
}

.button:hover {
    border: 1px solid var(--themer-accent);
}

.button:active {
    border: 1px solid var(--themer-accent);
}

@media only screen and (max-width:480px) {
    .button {
        padding: 10px 22px !important;
        font-size: 10px !important;
    }
}