.button {
    padding: 12px 24px;
    font-size: 12px;
    font-weight: 800;
    border: 1px solid var(--themer-button-border);
    color: var(--themer-button);
    text-transform: uppercase;
    background-color: transparent;
    letter-spacing: 1px;
}