:root{
    --button-border: #525252; 
    --button-color: #E3E3E3;
}
.button {
    padding: 12px 24px;
    font-size: 12px;
    font-weight: 800;
    border: 1px solid var(--button-border);
    color: var(--button-color);
    text-transform: uppercase;
    background-color: transparent;
    letter-spacing: 1px;
}