@charset "UTF-8";
@import url(./text.scss);
@import url('./flex.scss');
@import url('./button.scss');
@import url('./fonts.scss');
@import url('../components//Common/Themer/styles.scss');

:root {
  --padding-page: 60px;
  --element-margin: 8px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: end;
}
.main {}

.page {
  padding: var(--padding-page);
  padding-bottom: 10%;
}

.background-image {
  position: fixed;
  height: 100vh;
}

.grad1 {
  background: radial-gradient(circle at 90%, #6b89e9, #000000 40%, #000000 100%, #000000 75%);
}

.grad2 {
  background: radial-gradient(circle at 90%, #6be9e9, #000000 40%, #000000 100%, #000000 75%);
}

.page {
  transition: background-color 0.8s ease;
  background-color: var(--themer-background);
}