@charset "UTF-8";
@import url(./text.scss);
@import url('./flex.scss');
@import url('./button.scss');
@import url('./fonts.scss');
@import url('../components//Common/Themer/styles.scss');

:root {
  --padding-page: 60px;
  --element-margin: 8px;
  --container-width: 65vw;
  --container-width-mobile: 83vw;
}

.background-image {
  position: fixed;
  height: 100vh;
}

.page {
  padding: 60px;
  padding-bottom: 10%;
  margin: -1px;
  transition: background-color 0.8s ease;
  background-color: var(--themer-background);
}

.container {
  all: unset;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--container-width);
}

@media only screen and (max-width:480px) {
  .page {
    padding: 0;
    padding-bottom: 40%;
  }

  .container {
    width: var(--container-width-mobile);
    align-items: flex-start;
  }
}