@charset "UTF-8";
@import url(./text.scss);
@import url('./flex.scss');
@import url('./button.scss');
@import url('./fonts.scss');

:root {
  --color-nav-background: #000000;
  --color-nav-font: #ffffff;
  --color-background: #000000;
  // f7a57f
  // 9376e6
  // 729efa
  // font
  --color-font-home:#030304;
  --sadf: #eabe1e96;
  --color-font-heading: #ffffff;
  --color-font-sub-heading: #ffffff;
  --color-font-content: #ffffff;

  // spacing
  --padding-page: 60px;
  --nav-height: 7vh;
  --element-margin: 8px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: end;
}

.line {
  margin-top: calc(var(--element-margin)*2);
  margin-bottom: calc(var(--element-margin)*2);
  background-color: var(--color-font-heading);
  height: 2px;
}

.line-vertical {
  border-left: 2px solid var(--color-font-heading);
}

.main {
}

.navbar {
  * {
    color: var(--color-font-home);
  }

  height: var(--nav-height);
  color: var(--color-nav-font);
  // backdrop-filter: blur(7px);
  padding:24px 36px;

}

.page {
  margin-bottom: 10%;
  padding: var(--padding-page);
}

.background-image {
  position: fixed;
  height: 100vh;
}

.id-card {
  margin-right: 16px;
  color: var(--color-font-heading);
  border: solid 3px transparent;
  border-radius: 25px;
  background-image: linear-gradient(#000, #000), linear-gradient(to bottom, #729efa, #000);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-bottom: 0;

  .content {
    text-align: center;
    margin-top: var(--element-margin);
    padding: 16px;

    h2 {
      font-size: 1.2rem;
    }

    p {
      margin-top: 16px;
      font-weight: 100;
    }
  }


}

.grad1 {
  background: radial-gradient(circle at 90%, #6b89e9, #000000 40%, #000000 100%, #000000 75%);
}

.grad2 {
  background: radial-gradient(circle at 90%, #6be9e9, #000000 40%, #000000 100%, #000000 75%);
}

body {
  transition: background-color 0.8s ease;
  background-color: var(--color-background);
}