:root {
    --text-container-width: 60%;
    --content-margin: 16px;
}

* {
    font-family: 'TT Hoves Pro Trial', sans-serif;
    text-align: left;
}

.page-text {
    $container-width: 55%;
    padding-top: 5%;
    padding-bottom: 10%;

    >* {
        padding-left: calc((100% - $container-width)/2);
        padding-right: calc((100% - $container-width)/2);
        font-weight: 400;
        letter-spacing: -0.07px;
        line-height: 37px;
        margin-bottom: 30px;
    }

    h2 {
        text-transform: capitalize;
        font-size: 44px;
        color: var(--themer-heading);
    }

    p {
        color: var(--themer-content);
        font-size: 28px;

    }

    h5 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 8px;
    }

}
.highlight{
    color: var(--themer-accent);
}

.heading-h2 {
    text-transform: capitalize;
    font-size: 44px;
    color: var(--themer-heading);
    margin-bottom: 36px !important;
}

.heading-h5 {
    font-size: 24px;
}

.paragraph {
    color: var(--themer-content);
    font-size: 28px;
}

.small-capital-heading {
    font-family: poppins;
    font-weight: 400;
    font-size: 11px;
    color: var(--themer-heading);
    letter-spacing: 3px;
    line-height: 20px;
}

@media only screen and (max-width:480px) {
    .heading-h2 {
        font-size: 28px;
    }

    .heading-h5 {
        font-size: 21px;
        font-weight: 400;
        letter-spacing: 2.73px;
    }

    .paragraph {
        font-size: 21px;
        color: var(--themer-heading);
    }

    .small-capital-heading {
        color: var(--themer-content);
    }
}