:root {
    --text-container-width: 60%;
    --content-margin: 16px;
}

* {
    font-family: 'TT Hoves Pro Trial', sans-serif;
    text-align: left;
}

.page-text {
    $container-width: 55%;
    padding-top: 5%;
    padding-bottom: 10%;

    >* {
        padding-left: calc((100% - $container-width)/2);
        padding-right: calc((100% - $container-width)/2);
        font-weight: 400;
        letter-spacing: -0.07px;
        line-height: 37px;
        margin-bottom: 30px;
    }

    h2 {
        text-transform: capitalize;
        font-size: 44px;
        color: var(--themer-heading);
    }

    p {
        color: var(--themer-content);
        font-size: 28px;

    }

    h5 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 8px;
    }

}

.heading-h2 {
    text-transform: capitalize;
    font-size: 36px;
    color: var(--themer-heading);
    margin-bottom: 8px !important;
}

.heading-h5 {
    font-size: 24px;
}

.paragraph {
    color: var(--themer-content);
    font-size: 24px;
}

.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3%;

    .item {
        min-width: 250px;

        * {
            text-align: left !important;
        }

        height: fit-content;

        span {
            text-transform: uppercase;
            font-family: poppins !important;
            font-size: 16px;
            font-weight: 400;
            font-family: tth;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        span:hover {
            color: var(--themer-heading) !important;
        }

        .border {
            padding: 0;
            margin: 0;
            width: 0%;
            height: 1px;
            transition: all 0.7s;
            border-bottom: 1px solid transparent;
        }

    }

    .item:hover {
        .border {
            width: 50%;
            border-bottom: 1px solid rgb(0, 0, 0) !important;
        }
    }

}

.center-small-capital-heading {
    text-align: center;
    font-family: poppins;
    font-weight: 400;
    font-size: 11px;
    color: var(--themer-heading);
    letter-spacing: 3px;
    line-height: 20px;
}

@media only screen and (max-width:480px) {
    .heading-h2 {
        font-size: 28px;
    }

    .heading-h5 {
        font-size: 21px;
        font-weight: 400;
        letter-spacing: 2.73px;
    }

    .paragraph {
        font-size: 21px;
        color: var(--themer-heading);
    }

    .center-small-capital-heading {
        color: var(--themer-content);
    }
}