@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

:root {
  --g-background-html: rgb(0, 0, 0);
}

html {
  /* background-color: var(--g-background-html); */
  font-size: 16px;
  cursor: pointer;
  overflow-x: hidden;
}


.App {
  overflow-y: hidden;
  text-align: center;
  font-family: 'poppins';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--mygrad);
  background: linear-gradient(315deg, rgba(2, 0, 36, 1) 0%, rgba(0, 255, 235, 1) 0%, var(--mygrad) 100%);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 15px;
  background: linear-gradient(240deg, rgba(2, 0, 36, 1) 0%, rgba(0, 255, 235, 1) 0%, var(--mygrad) 100%);
}
.cursor{
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;

}