@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

html {
  font-size: 16px;
  cursor: pointer;
  overflow-x: hidden;
  background-color: black !important;
}
body{
  background-color: transparent !important;
}

.App {
  text-align: center;
  font-family: 'poppins';
}
::-webkit-scrollbar {
  display: none;
}