.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .item {
        max-width: calc(100%/3);
        min-width: calc(100%/3);
        margin-bottom: 30px;
        text-align: center;
        span {
            color: var(--themer-content);
            text-transform: uppercase;
            font-family: poppins !important;
            font-size: 11px;
            font-weight: 400;
            white-space: nowrap;
            text-overflow: ellipsis;
            
        }

        span:hover {
            color: var(--themer-heading) !important;
        }

    }

    .item:hover {
        .border {
            width: 50%;
            border-bottom: 1px solid rgb(0, 0, 0) !important;
        }
    }

}

@media only screen and (max-width:480px) {
    .item-container {
        .item {
            text-align: left;
            max-width: 50%;
            min-width: 50%;
            margin-bottom: 20px;

            span {
                font-size: 11px;
                line-height: 16px;
                letter-spacing: 2px;
            }
        }
    }
}