.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3%;

    .item {
        max-width: 50%;
        min-width: 50%;

        span {
            text-transform: uppercase;
            font-family: poppins !important;
            font-size: 16px;
            font-weight: 400;
            font-family: tth;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        span:hover {
            color: var(--themer-heading) !important;
        }

    }

    .item:hover {
        .border {
            width: 50%;
            border-bottom: 1px solid rgb(0, 0, 0) !important;
        }
    }

}

@media only screen and (max-width:480px) {
    .item-container{
        .item{
            margin-bottom: 30px;
            span {
                color: var(--themer-content);
                font-size: 11px;
                line-height: 16px;
                letter-spacing: 2px;
            }
        }
    }
}